{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}

<!-- Login Container -->

<div class="mx-auto w-full max-w-sm">         
    {% url 'account_login' as login_url %}
    
    <!-- Title Container -->

    <div class="mb-4">
        {% element h1 %}
            {% trans "Sejam bem-vindo(a)" %}
        {% endelement %}
    </div>

    <!-- Rendering Forms -->

    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            
            {% element login_form form=form unlabeled=True %}{% endelement %}
            
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}

        {% endslot %}

        {% slot actions %}
            <div class="mt-5 flex text-center">
                <button type="submit" class="py-2 grow bg-black text-white rounded-s-md">
                    ACCESAR
                </button>
                
                <div class="grow py-2 bg-white rounded-e-md">
                    {% blocktrans %}
                        <a class="" href="{{ signup_url }}">CRIAR CONTA</a>
                    {% endblocktrans %}
                </div>
            </div>        

        {% comment %} {% element button type="submit" tags="prominent,login" %}
            {% trans "Sign In" %}
        {% endelement %} {% endcomment %}
        
        {% endslot %}
    {% endelement %}

    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
</div>
{% endblock content %}
